//directvives style`s

.header-site {
  height: 86px;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10000;
  .header-site-content {
    .header-site-content-logo {
      float: left;
      width: 270px;
      a{
        margin-top: 0;
        margin-left: 10px;
        div {
          float: left;
          background: {
            image: url("../../content/img/logo_black.png");
            size: cover;
          }
          height: 90px;
          width: 250px;
        }
      }
    }
    .header-site-content-media-menu {
      border: none;
      background: transparent;

      float: right;
      margin-top: 15px;
      margin-right: 30px;
      .header-site-content-media-menu-button {
        border: none;
        background: transparent;
        font-size: 55px;
        svg {
          color: #303030;
        }
      }

    }
    .header-site-content-menu {
      float: right;
      margin-right: 15px;
      ul {
        li {
          float: left;
          margin-left: 55px;
          display: block;
          margin-top: 15px;
          transition: .3s;
          color: #303030 ;
          //a:[href=''] {
          //
          //}
        }
        //li:first-child > a {
        //  border-bottom: 3px solid #303030;
        //  padding-bottom: 7px;
        //}
        li:hover {
          margin-top: 11px;
        }
      }
    }
  }
}

//media

@media (min-width: 1500px) {

  header {
    .header-site-content-media-menu {
      display: none;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {

  header {
    .header-site-content-media-menu {
      display: none;
    }
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  header.header-site {
    .header-site-content-media-menu {
      display: none !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {

    .header-site-content {
      .header-site-content-logo {
        .main-title {
          font-size: 75px !important;
        }
      }
      .header-site-content-media-menu {
        display: block;
        button {
          font-size: 55px !important;
        }

      }
      .header-site-content-menu {
        display: none;
      }
    }

  }
}

@media (min-width: 540px) and (max-width: 768px) {
  header {
    .header-site-content {
      .header-site-content-logo {
        .main-title {
          font-size: 50px !important;
        }
      }
      .header-site-content-media-menu {
        display: block;
        button {
          font-size: 45px !important;
        }

      }
      .header-site-content-menu {
        display: none;
      }
    }
  }
}

@media (max-width: 540px) {
  header {
    //background: rgba(0, 0, 0, 0.58) !important;
    .header-site-content {
      .header-site-content-logo {
        .main-title {
          font-size: 50px !important;
        }
        position: absolute;
        left: 50%;
        margin-left: -125px;
        margin-top: 0 !important;
        width: 215px !important;
        a{
          div{
            width: 205px !important;
            margin-top: 0 !important;
          }
        }

      }
      .header-site-content-logo>div{

      }
      .header-site-content-media-menu {

        margin-right: 2px !important;
        margin-top: 2px !important;
        display: block;
        button {
          margin-top: 15px !important;
          font-size: 40px !important;
        }

      }
      .header-site-content-menu {
        display: none;
      }
    }
  }
}