<div class="menu">
    <div class="menu_open">
        <button class="menu-close"><i class="fas fa-times"></i></button>
        <ul>
            <li><a ng-click="vm.company()" class="main-link lang" data-key-parent='header' data-key-child='Company'>Company</a>
            </li>
            <li><a ng-click="vm.banks()" class="main-link lang" data-key-parent='header' data-key-child='Banks'>Banks</a>
            </li>
            <li><a ng-click="vm.about()" class="main-link lang" data-key-parent='header' data-key-child='About'>About
                Us</a></li>
            <li><a ng-click="vm.contacts()" class="main-link lang" data-key-parent='header' data-key-child='Contact'>Contact</a>
            </li>
        </ul>
    </div>
</div>