<div class="legal_opinion" effect-script>

    <header-block></header-block>

    <div class="content">

        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <p class="lang"  data-key-parent='legal_opinion' data-key-child='text_1'>This is a brief or complete legal (legal) opinion on each individual issue or aspect of the activity,
                    within the frame the company operates in accordance with the laws in force of the country of
                    incorporation or country of registration of the company.
                </p>
                <p class="lang"  data-key-parent='legal_opinion' data-key-child='text_2'>"This report is drawn up by experts or lawyers, in accordance with international norms, rules, laws or
                    acts and is a reliable source of information on the legal niceties of the particular type of activity
                    under consideration, which is certified by a lawyer and has the status of a legal document.</p>
                <p class="lang"  data-key-parent='legal_opinion' data-key-child='text_3'>The expert providing a legal opinion takes the consequences of its use.</p>


            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>

</div>