<div class="banks" effect-script>

    <header-block></header-block>

    <div class="content">

        <!--<div class="content-container head">-->
        <!--<div id="anchor">-->
        <!--<h1 class="main-title">Banks</h1>-->
        <!--<a href="#section" class="scroll"><i class="fas fa-angle-down"></i></a>-->
        <!--</div>-->

        <!--</div>-->
        <div class="content-container background"></div>
        <div class="content-container spreadsheet">
            <div>
                <div>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title1'>Switzerland</h5>
                    <table>
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>C.I.M Banque</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='switzerland_time'>10 Day</td>
                            <td>500 EUR</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title2'>Liechtenstein</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Valartis Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='investment'>Investment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='liechtenstein_time'>14 Day</td>
                            <td>700 EUR</td>
                        </tr>
                        <tr>
                            <td>LGT Group</td>
                            <td class="lang" data-key-parent='banks' data-key-child='investment'>Investment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='liechtenstein_time'>14 Day</td>
                            <td>500 EUR</td>
                        </tr>
                        <tr>
                            <td>LLB. Liechtensteinische Landesbank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='investment'>Investment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='liechtenstein_time'>14 Day</td>
                            <td>700 EUR</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title3'>Hong Kong</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>ChinaTrast</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='hong_kong_time'>30 Day</td>
                            <td> 1000 USD</td>
                        </tr>
                        <tr>
                            <td>Hang Seng Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='hong_kong_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        <tr>
                            <td>Standard Chartered Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='hong_kong_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        <tr>
                            <td>HSBC</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='hong_kong_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title4'>United Arab Emirates</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang " data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang " data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang " data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang " data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Emirates NBD</td>
                            <td class="lang " data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang " data-key-parent='banks' data-key-child='united_arab_emirates_time'>30 Day</td>
                            <td>2500 USD</td>
                        </tr>
                        <tr>
                            <td>Noor Islamic Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='united_arab_emirates_time'>30 Day</td>
                            <td>2500 USD</td>
                        </tr>
                        <tr>
                            <td>Machreq Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='united_arab_emirates_time'>30 Day</td>
                            <td>2500 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title5'>Singapore</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>OCBC</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='singapore_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        <tr>
                            <td>DBS Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='singapore_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        <tr>
                            <td>Standard Chartered Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='title1'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='singapore_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        <tr>
                            <td>United Overseas Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='singapore_time'>30 Day</td>
                            <td>1000 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title6'>Bulgaria</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>UniCredit</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='bulgaria_time'>10 Day</td>
                            <td>1000 EUR</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title7'>Cyprus</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Bank of Cyprus</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='cyprus_time'>10 Day</td>
                            <td>400 EUR</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title8'>Czech Republic</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Ceska Sporitelna</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='czech_republic_time'>10 Day</td>
                            <td>2500 EUR</td>
                        </tr>
                        <tr>
                            <td>FIO Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='czech_republic_time'>10 Day</td>
                            <td>2500 EUR</td>
                        </tr>
                        <tr>
                            <td>CSOB</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='czech_republic_time'>10 Day</td>
                            <td>2500 EUR</td>
                        </tr>
                        <tr>
                            <td>PPF Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='czech_republic_time'>10 Day</td>
                            <td>2500 EUR</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title9'>Estonia</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Tallinn Bossiness Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='estonia_time'>30 Day</td>
                            <td>500 EUR</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title10'>Seychelles</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>BMI Offshore Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='seychelles_time'>30 Day</td>
                            <td>500 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title11'>Saint Vincent and the Grenadines</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Euro Pacific Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='saint_vincent_and_the_grenadines_time'>
                                15 Day
                            </td>
                            <td>500 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title12'>Saint Lucia</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Hermes Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='saint_lucia_time'>15 Day</td>
                            <td>500 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="lang" data-key-parent='banks' data-key-child='title13'>Mauritius</h5>
                    <table class="bank-table">
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='banks' data-key-child='name'>Name</th>
                            <th class="lang" data-key-parent='banks' data-key-child='account'>Account type</th>
                            <th class="lang" data-key-parent='banks' data-key-child='time'>Time*</th>
                            <th class="lang" data-key-parent='banks' data-key-child='price'>Price*</th>
                        </tr>
                        <tr>
                            <td>Mauritius Commercial Bank</td>
                            <td class="lang" data-key-parent='banks' data-key-child='payment'>Payment</td>
                            <td class="lang" data-key-parent='banks' data-key-child='mauritius_time'>30 Day</td>
                            <td>500 USD</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="lang" data-key-parent='banks' data-key-child='text_1'>*As a rule, the specified time for
                        consideration of documents for opening a current account, but is
                        not guaranteed by our company or the Bank</p>
                    <p class="lang" data-key-parent='banks' data-key-child='text_2'>**Price of the Bank and may be changed
                        by decision of the Bank. The price does not include the
                        services of the company.</p>
                    <p class="lang" data-key-parent='banks' data-key-child='text_3'>If you have not found the need or
                        interest of the Bank, please contact us, we will reply you as soon
                        as possible and will advise you on the best Bank depending on your type of business.</p>

                </div>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>

</div>