<div class="contacts" effect-script>

    <header-block></header-block>

    <div class="content">

        <!--<div class="content-container head">-->
        <!--<div id="anchor">-->
        <!--<h1 class="main-title lang" data-key-parent="contacts" data-key-child='main_title'>Contact</h1>-->
        <!--<a href="#section" class="scroll"><i class="fas fa-angle-down"></i></a>-->
        <!--</div>-->

        <!--</div>-->
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>

                <div>
                    <form action="/mail.php" method="post">
                        <div>
                            <input type="text" placeholder="First Name">
                            <input type="text" placeholder="Last Name">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Skype ID or Phone">
                            <input type="text" placeholder="Company Name">
                            <input type="text" placeholder="Company Website">
                        </div>


                        <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
                        <input type="submit" value="send">
                    </form>
                </div>
                <div>
                    <div><img src="../content/img/uk.png"  alt=""></div>
                    <div>
                        <p>Suite 110, 12 South Bridge,<br>Edinburgh, Scotland,<br> EH1 1DD</p><br>

                        <a href="tel:+447933817651" class="footer-site__link">+447933817651</a>
                        <a href="mailto:info@tjglobal.org">info@tjglobal.org</a>
                    </div>
                    <!--<h6>Address:</h6>-->
                    <!--<p>Suite 110, 12 South Bridge,<br>Edinburgh, Scotland,<br> EH1 1DD</p><br>-->

                    <!--<a href="tel:+447925754110" class="footer-site__link">+447925754110</a>-->
                    <!--<a href="mailto:info@tjglobal.org">info@tjglobal.org</a><br>-->

                </div>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>

</div>