<div class="forex" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about" id="section">
            <div>
                <div class="col-md-10 col-md-offset-1">
                    <table>
                        <tbody>
                        <tr>
                            <th class="lang" data-key-parent='forex' data-key-child='services'>Services</th>
                            <th class="lang" data-key-parent='forex' data-key-child='time'>Time</th>
                            <th class="lang" data-key-parent='forex' data-key-child='price'>Price</th>
                        </tr>
                        <tr>
                            <td class="lang" data-key-parent='forex' data-key-child='services_name_1'>Forex Broker Company
                                WL MT4, 5
                            </td>
                            <td class="lang" data-key-parent='forex' data-key-child='time_name_1'>2-3 month</td>
                            <td>$15.000*</td>
                        </tr>
                        <tr>
                            <td class="lang" data-key-parent='forex' data-key-child='services_name_2'>Binary Options</td>
                            <td class="lang" data-key-parent='forex' data-key-child='time_name_2'>1-2 month</td>
                            <td>$10.000*</td>
                        </tr>
                        <tr>
                            <td class="lang" data-key-parent='forex' data-key-child='services_name_3'>Personal Trader Room
                            </td>
                            <td class="lang" data-key-parent='forex' data-key-child='time_name_3'>1 month</td>
                            <td>$3.000*</td>
                        </tr>
                        <tr>
                            <td class="lang" data-key-parent='forex' data-key-child='services_name_4'>PSP</td>
                            <td class="lang" data-key-parent='forex' data-key-child='time_name_4'>1 week</td>
                            <td>$1.000*</td>
                        </tr>
                        <tr>
                            <td class="lang" data-key-parent='forex' data-key-child='services_name_5'>Website Forex, Binary
                                Options
                            </td>
                            <td class="lang" data-key-parent='forex' data-key-child='time_name_5'>2-4 week</td>
                            <td>$3.000*</td>
                        </tr>
                        <tr>
                            <td class="lang" data-key-parent='forex' data-key-child='services_name_6'>Liquidity</td>
                            <td class="lang" data-key-parent='forex' data-key-child='time_name_6'>1 week</td>
                            <td>$10-12 / 1m*</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="lang" data-key-parent='forex' data-key-child='text_1'>* Starting price and can be changed
                        depending on the request.</p>
                    <p class="lang" data-key-parent='forex' data-key-child='text_2'>If you can not find the information you
                        need, please contact us, we will reply as soon as possible and will try to help.</p>
                </div>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>

</div>