.license{

  //content

  .content {
    .content-container {
      height: 70vh;
      width: 100%;
      background: white;
    }
    & .head {
      div#anchor {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 740px;
        h1 {
          color: #303030;
          position: absolute;
          font-size: 90px;
          font-weight: 600;

        }
        a {
          text-decoration: none;
          color: #303030;
          font-size: 60px;
          position: absolute;
          padding-top: 150px;
        }
      }
    }
    & .background {
      background: {
        image: url('../../content/img/license.jpg');
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
      }
    }
    & .about {
      height: 2000px;
      div{
        margin-top: 140px;

        h5 {
          text-align: center;
          font: {
            family: "Open-Sans", sans-serif;
            size: 25px;

          }
        }
        table {
          width: 1000px;
          margin: 70px auto 0;
          border: 2px solid #303030;
          border-radius: 5px;
          background: #303030;
          font: {
            family: "Roboto", sans-serif;

          }
          tbody {
            background: white;
            tr {
              height: 30px;
              th {
                background: #303030;
                color: white;
              }
              td {
                padding-left: 15px;

              }
            }
          }
        }
        div> p {
          width: 1000px;
          margin: 30px auto;
          font: {
            family: "Roboto", sans-serif;
            size: 16px;
          }
        }
      }


    }

  }

  //media

  @media (min-width: 1500px){

  }

  @media (min-width: 1200px) and (max-width: 1499px){

  }

  @media (min-width: 992px) and (max-width: 1199px){
      .content{
        .head{
          #anchor{
          }
        }
        .about{
          height: 2100px;
          div{
            div{
              table{
                width: 900px!important;
                //td{
                //  word-break: break-word;
                //  padding-left: 0 !important;
                //  font-size: 12px;
                //}
              }
            }
            div>p{
              width: 900px !important;
            }
          }

          //p{width: 320px!important;}

        }
        .about>p{
          width: 300px !important;
          //sup{
          //  width: 300px!important;
          //}
        }
      }
  }

  @media (min-width: 768px) and (max-width: 992px){
      .content{
        .head{
          #anchor{
            width: auto !important;
          }
        }
        .about{
          height: 1700px;
          div{
            div{
              table{
                width: 730px!important;
                td{
                  word-break: break-word;
                  padding-left: 0 !important;
                  font-size: 12px;
                }
              }
            }
            div>p{
              width: 730px !important;
              width: 730px !important;
            }
          }

          //p{width: 320px!important;}

        }
        .about>p{
          width: 300px !important;
          //sup{
          //  width: 300px!important;
          //}
        }
      }
  }

  @media (min-width: 540px) and (max-width: 768px){
      .content{
        .head{
          #anchor{
            width: auto !important;
            h1{
              font-size: 60px!important;
            }
          }
        }
        .about{
          height: 1900px;
          div{
            div{
              table{
                width: 530px!important;
                td{
                  word-break: break-word;
                  padding-left: 0 !important;
                  font-size: 12px;
                }
              }
            }
            div>p{
              width: 530px !important;
            }
          }

          //p{width: 320px!important;}

        }
        .about>p{
          width: 300px !important;
          //sup{
          //  width: 300px!important;
          //}
        }
      }
  }

  @media (max-width: 540px) {
      .content{
        .head{
          #anchor{
            width: auto !important;
            h1{
              font-size: 60px!important;
            }
          }
        }
        .background{
          background-attachment: scroll !important;
        }
        .about{
          height: auto;
          div{
            div{
              table{
                width: 320px!important;
                font-size: 9px !important;
                td{
                  word-break: break-word;
                  padding-left: 0 !important;
                }
              }
            }
            div>p{
              width: 300px !important;
            }
          }

          //p{width: 320px!important;}

        }
        .about>p{
          width: 300px !important;
          //sup{
          //  width: 300px!important;
          //}
        }
      }
  }

}