<div class="about_us" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <p class="lang" data-key-parent="about_us" data-key-child='text1'>TJ GLOBAL respects the complete confidentiality of its customers. Stability, quality, reliability,
                    professionalism - So we are recommended to friends.</p>
                <p class="lang" data-key-parent="about_us" data-key-child='text2'>"TJ GLOBAL" Consulting company № 1 in Europe and Russia. More than 95% of clients come to us regularly
                    again and again and stay with us for many years.</p>
                <p class="lang" data-key-parent="about_us" data-key-child='text3'>Corporate consulting is the main part of our work with partners and clients from around the world. Legal
                    services, Accounting services, transaction Support, registration of companies, assistance in opening a
                    Bank account, Creating a model of strategy and promotion of enterprises, Obtaining financial licenses
                    (Forex, e Commerce, Gambling, Banking), enterprise Management and much more, what appreciate us partners
                    and customers for many years staying with us.</p>


            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>



</div>