<div class="homepage" effect-script id="index">

    <header-block></header-block>

    <mobile-menu></mobile-menu>

    <div class="content">
        <div class="content-container-main">
            <video autoplay muted loop id="myVideo">
                <source src="content/video/hc-test.mp4" type="video/mp4">
            </video>
            <div class="content-container-main-background"></div>
            <div class="content-container-main-content">
                <div>
                    <div id="anchor"><h1 class="main-title lang" data-key-parent="main" data-key-child="title">We
                        transform relationships
                        <br> between brands and people.</h1>
                        <a href="#destination1" class="scroll"><i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container" id="destination1">
            <div class="content-container-background first-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block first">
                    <div><h1 class="main-title lang" data-key-parent="main" data-key-child="forex_title">FOREX AND
                        BINARY OPTIONS</h1>
                        <p class="lang" data-key-parent="main" data-key-child="forex_text">Providing a full range of
                            services to create <br> a Forex Broker or Binary Options.</p>
                        <a ui-sref="forex" class="main-link lang" data-key-parent="main"
                           data-key-child="detail">Detail</a></div>
                </div>
            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background second-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block second" href="#">
                    <div><h1 class="main-title lang" data-key-parent="main" data-key-child="e-commerce_title">
                        E-COMMERCE</h1>
                        <p class="lang" data-key-parent="main" data-key-child="e-commerce_text">A full range of services
                            for Financial Licenses for E-Commerce.</p>
                        <a ui-sref="e-commerce" class="main-link lang" data-key-parent="main" data-key-child="detail">Detail</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background third-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block third">
                    <div><h1 class="main-title lang" data-key-parent="main" data-key-child="license_title">LICENSE</h1>
                        <p class="lang" data-key-parent="main" data-key-child="license_text">A full range of services
                            for Financial Licenses.</p>
                        <a ui-sref="license" class="main-link lang" data-key-parent="main" data-key-child="detail">Detail</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background fourth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block " id="last_section">
                    <div><h1 class="main-title lang" data-key-parent="main" data-key-child="legal_title">LEGAL
                        OPINION</h1>
                        <p class="lang" data-key-parent="main" data-key-child="legal_text">Legal Opinion from a lawyer
                            from the UK <br> and lawyer from St Vincent and the Grenadines <br>
                            for
                            offshore companies Forex, Binary, Crypto, ICO.</p>
                        <a ui-sref="legal_opinion" class="main-link lang" data-key-parent="main"
                           data-key-child="detail">Detail</a></div>
                </div>

            </article>
        </div>


    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>